.App {
  display: flex;
  margin: 0;
  padding: 0;
  background-color: #A7D7C5;
  width: 100vw;
  height: 100vh;
}

.App__login {
  width: 455px;
  height: 455px;
  background-color: #F6FBF9;
  border-radius: 32px;
  margin: auto;
}